body {
    background-color white;
}

svg {
    width: 3000px;
    height: 1500px;
}

.park-arc {
	stroke: #d3d3d3;
	stroke-width: 0.75;
	fill-opacity: 0.2;
}

.circle {
    fill: #6AODAD;
    stroke: #000000;
    stroke-width: 0.1;
}
