body {
    background-color white;
}

svg {
    width: 1500;
    height: 750;
}

.park-arc {
	stroke: #d3d3d3;
	stroke-width: 0.75;
	fill-opacity: 0.2;
}

.circle {
    fill: #E5000C;
    stroke: #000000;
    stroke-width: 0.1;
}
